<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
        <div class="col-md-3">
            <strong>Project name:</strong>
        </div>
        <div class="col-md-3">
            {{project?.nameOfProject}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong>Type of project:</strong>
        </div>
        <div class="col-md-3">
            {{project?.typeOfProject }}
        </div>
    </div>
    <div class="row" *ngIf='project?.investors.length <= 2; else advancedProject'>
        <div class="col-md-3">
            <strong>Type of project:</strong>
        </div>
        <div class="col-md-3">
            <span class="text-success">Beginner project.</span>
        </div>
    </div>
    <ng-template #advancedProject>
        <div class="row">
            <div class="col-md-3">
                <strong>Type of user:</strong>
            </div>
            <div class="col-md-3">
                <span class="text-info">Advanced user.</span>
            </div>
        </div>
    </ng-template>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let investor of project?.investors">
                        <td>{{investor?.name}}</td>
                        <td>{{investor?.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
